<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616408814041-e74bv0083475fjpo4c8bo3e1kjueblck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616408814041-e74bv0083475fjpo4c8bo3e1kjueblck</string>
	<key>API_KEY</key>
	<string>AIzaSyDojfszJ00gbPAuG7IGi2cTpyGku6wR1Ho</string>
	<key>GCM_SENDER_ID</key>
	<string>616408814041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Julia.SCON-iOS</string>
	<key>PROJECT_ID</key>
	<string>fir-con-d5f29</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-con-d5f29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616408814041:ios:7eaf580f6bb43b2021c9c8</string>
</dict>
</plist>